
.note {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: inset -6px -4px 2px rgba(255, 3, 3, 0.03);
  border-radius: 16px;
  border: 2px solid rgba(184, 184, 184, 0.326);
  color: #fff;
  padding: 15px;
  flex-direction: column-reverse;
  justify-content: space-between;

  & textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    resize: none;
    font-size: 16px;
  }

  & textarea:focus {
    outline: none;
  }

  & textarea::placeholder {
    color: #fff;
  }
}

.note__header {
  display: flex;
  margin-top:16px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 200;
}

.note__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
@keyframes move-up-down-scale {
  35% {
    transform: translateY(-5px) rotateZ(-60deg);
  }
  75% {
    transform: scale(1.5) translateY(5px) rotateZ(60deg);
  }
  100% {
  }
}

@keyframes rotate-shuffle {
  35% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  100% {
  }
}

.delete-note {
  cursor: pointer;
  
  &:hover {
    transform-origin: center;
    animation-name: move-up-down-scale;
    animation-duration: 1s;
  }
}

.note__save-btn {
  background-color: transparent;
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(224, 2, 2);
  border-radius: 8px;
  color: white;
  padding: 6px 16px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba(142, 142, 142, 0.268);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(46, 226, 0);
    color: rgb(255, 255, 255);

    transform-origin: center;
    animation-name: rotate-shuffle;
    animation-duration: .5s;
  }
}

.note__name {
  display: flex;
  width: max-content;
  line-height: 12px;

}

.note__body {
  white-space: pre-line;
}